{% extends 'base/base.html' %}

{% block auth_content %}
<div class="login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="#" class="h1"><b>Diaken</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Inicia sesión para comenzar</p>

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" name="username" class="form-control" placeholder="Usuario" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Recordarme
                </label>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </div>
          </div>
          
          {% if form.errors %}
          <div class="alert alert-danger mt-3">
            Usuario o contraseña incorrectos. Por favor intente nuevamente.
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
