{% extends 'base/base.html' %}
{% block content %}
  <div class="container mt-4">
    <h2>Execution Details</h2>
    <p><strong>Playbook:</strong> {{ history.playbook.name }}</p>
    <p><strong>User:</strong> {{ history.user.username }}</p>
    <p><strong>Group/Host:</strong> {% if history.group %}{{ history.group.name }}{% else %}{{ history.host.name }}{% endif %}</p>
    <p><strong>Date:</strong> {{ history.date }}</p>
    <p><strong>Status:</strong> {{ history.status }}</p>
    <h4>Output:</h4>
    <pre>{{ history.output }}</pre>
  </div>
{% endblock %}
