{% extends 'base/base.html' %}
{% block content %}
  <div class="container mt-4">
    <h2>Playbook Execution History</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Playbook</th>
          <th>User</th>
          <th>Group/Host</th>
          <th>Date</th>
          <th>Status</th>
          <th>Output</th>
        </tr>
      </thead>
      <tbody>
        {% for history in page_obj %}
        <tr{% if history.group %} class="table-info"{% endif %}>
          <td>{{ history.playbook.name }}</td>
          <td>{{ history.user.username }}</td>
          <td>{% if history.group %}<span style="text-decoration: underline; font-weight: bold;">{{ history.group.name }}</span>{% else %}{{ history.host.name }}{% endif %}</td>
          <td>{{ history.date }}</td>
          <td>
             {% if history.status == 'successful' %}
               <span class="text-success"><strong>{{ history.status }}</strong></span>
             {% elif history.status == 'failed' %}
               <span class="text-danger"><strong>{{ history.status }}</strong></span>
             {% else %}
               {{ history.status }}
             {% endif %}
          </td>
          <td><a href="{% url 'history_detail' history.id %}">View</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo; First</span></li>
          <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}
        <li class="page-item active"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">Next</span></li>
          <li class="page-item disabled"><span class="page-link">Last &raquo;</span></li>
        {% endif %}
      </ul>
    </nav>
      </tbody>
    </table>
  </div>
{% endblock %}
